<!DOCTTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User REST Application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>    
    <body>
        <div class="container bg-light">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand text-white">Users REST App</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/users">Users<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/users/new">Add New User</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            <div class="jumbotron jumbotron-fluid bg-light">
                <div class="container">
                    {% for user in user_info %}
                        <h2 class="text-center">User {{ user.user_id }}</h2>
                        <hr class="my-4">
                            <p><span class="font-weight-bold">Full Name:</span> {{ user.first_name ~ " " ~ user.last_name }}</p>
                            <p><span class="font-weight-bold">Email:</span> {{ user.email }}</p>
                            <p><span class="font-weight-bold">Created On:</span> {{ user.created_at.strftime('%m/%d/%Y %I:%M %p') }}</p>
                            <p><span class="font-weight-bold">Last Updated:</span> {{ user.updated_at.strftime('%m/%d/%Y %I:%M %p') }}</p>
                        <hr class="my-4">
                        <div class="row justify-content-center w-100 mb-2">
                            <a href="/users/{{ user.user_id }}/edit" class="btn btn-secondary ml-2">Edit</a>
                            <a href="/users/{{ user.user_id }}/destroy" class="btn btn-secondary ml-2">Delete</a>                    
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>